:root {
    --accent_color: rgb(255, 197, 0);
    --max_width: 62.5rem;
    --section_padding: 4rem;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
    background-color: black;
    line-height: 1.5rem;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

.fixed-nav {
    width: 100%;
    position: fixed;
    z-index: 999;
}


.hero_overlay_container {
    position: relative;
    display: flex;
    padding: 3rem;
    width: 85%;
    max-width: var(--max_width);
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.about {
    position: relative;
    background-color: rgb(50, 50, 50);
    padding: var(--section_padding) 0 0 0;
}

.base_content {
    display: grid;
    grid-template-columns: 1fr 8fr;
    row-gap: 1rem;
    width: 85%;
    margin: auto;
    max-width: var(--max_width);
}

@media (max-width: 768px) {
    .base_content {
        grid-template-columns: 1fr;
    }
}

.base_content_left {
    min-width: 10rem;
}

.base_content_right {
    position: relative;
    justify-content: left;
}


.about_profile_image_container {
    overflow: hidden;
    position: relative;
    min-width: 2rem;
    width: 8rem;
    height: 8rem;
    border-radius: 20rem;
    border: 3px solid var(--accent_color);
}

.text-align-justify {
    text-align: justify
}

.line-height-10rem {
    line-height: 2rem;
}


.about_list_item {
    display: flex;
    grid-column: span 1 / span 1;
    column-gap: 0.5rem;
    min-height: 2.7rem;
    align-items: center;
}

.about_icons {
    color: white;
    width: 1.8rem;
    height: 1.8rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
}

.resume {
    padding: var(--section_padding) 0 0 0;
    background-color: white;
    color: black;
}


.resume_location {
    font-size: 1rem;
    font-style: italic;
}


.resume_skills {
    font-size: 0.95rem;
    color: rgb(137, 137, 137);
}

.section_title {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--accent_color);
    text-decoration-thickness: 0.15rem;
}

.section_separator {
    border: 1px solid var(--accent_color);
    color: var(--accent_color);
    width: 75%;
}

.credential {
    background-color: rgba(0, 0, 0, 0.01);
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.2rem;
    font-weight: 500;
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 0 0.4rem 0 0.4rem;
}

.skills_content_right {
    grid-template-columns: 1fr 1fr;
    columns: 2;
    gap: 3rem;
    padding: 1rem 0 3rem 0;
}

@media screen and (max-width: 767px) {
    .skills_content_right {
        columns: 1;
    }
}


.skill_bottom_bar {
    overflow: hidden;
    height: 1.25rem;
    border-radius: 9999px;
    background-color: gray;
}

.skill_top_bar {
    height: 100%;
    border-radius: 9999px;
    background-color: var(--accent_color);
}

.footer {
    padding: 2rem 0;
    min-width: 100%;
    background-color: rgb(35, 35, 35);
    border-top: 2px solid var(--accent_color);
    color: white;
    align-items: center;
}
